# Ignore environment files
.env
.env.*local
.env.test
.api/

# Ignore package-lock.json
package-lock.json

# Ignore coverage directory
coverage/

# Ignore build and dist directories
build/
dist/

# Ignore specific directory (if it's intended to be ignored)
ignore/

# Ignore logs in the logging directory
logs/

# Ignore node_modules directory
node_modules/

# Ignore GitHub-specific files
.github/
.github/workflows/

# Ignore specific script files
scripts/conversations.json

# Ignore specific cleanup folder
CLEANUP/




